<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" th:src="@{/javascript/custom.js}"></script>
<link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet"/>

<html>
<br>
<form action="#" id="myform" th:action="@{/myform}" th:object="${jiraIssue}" method="post">
    <tr>
        <td><input id="pointNewTask" style="display:none;" type="text" th:field="*{isNewJiraIssue}"/></td>
        <td><input id="pointCodeReviewTasks" style="display:none;" type="text" th:field="*{isCodeReviewJiraIssue}"/></td>
        <td><input id="pointUpdateTasks" style="display:none;" type="text" th:field="*{isUpdateJiraIssue}"/></td>
        <td><input id="pointAllTasks" style="display:none;" type="text" th:field="*{isAllJiraIssue}"/></td>
    </tr>
    <table class="table1">
        <thead>
        <tr>
            <td>Parent Task:</td>
            <td>Report ID:</td>
        </tr>
        <tr>
            <td title="Format parent task should be CDR-XXXXX"><input id="inputIssue" type="text" th:field="*{issue}"></td>
            <td title="Report ID you can take in the report link"><input id="inputNumberReport" type="text" th:field="*{numberReport}"></td>
        </tr>
        <tr>
            <td class="customClass">Engineers</td>
            <td class="customClass"><input id="buttonSelectAll" type="checkbox"	th:attr="onclick=|checkAllCheckboxes(`${#strings.listDefaultString(engineers,default)}`)|"/></td>
        </tr>
        </thead>
        <tbody>
        <tr th:each="engineer : ${engineers}">
            <td th:text="${engineer}"></td>
            <td><input th:id="'person' + ${engineer}" type="checkbox" th:field="*{dutyPerson}" th:value="${engineer}"/></td>
        </tr>
        <tr>
            <td class="customClass">Reopen old issues</td>
            <td class="customClass"><input type="checkbox" checked id="reopenTasksToggleButton"></td>
        </tr>
        </tbody>
    </table>
</form>
<table class="table2">
<td><button class="buttonStyleOne" id="buttonId" onClick="submitForm('true')">Assign CDR tasks</button></td>
<td><button class="buttonStyleOne" id="buttonAssignNewTask" onClick="submitForm('false')">Assign New CDR tasks</button></td>
<td><button class="buttonStyleOne" id="buttonAssignCodeReviewTasks" onClick="tasksUpdateOrReview('review')">Assign Code Review tasks</button></td>
<td><button class="buttonStyleOne" id="buttonAssignUpdateTasks" onClick="tasksUpdateOrReview('update')">Assign Update tasks</button></td>
<td><button class="buttonStyleOne" id="buttonAssignALlTasks" onClick="assignAll()">Assign All</button></td>
</table>
<tr>
    <div id="spinner" style="display:none;" class="loader"></div>
</tr>
</html>